source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Formatting
nuget log4net
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FAKE
nuget SourceLink.Fake
nuget Suave

github fsharp/FAKE modules/Octokit/Octokit.fsx