source https://nuget.org/api/v2

nuget FsCheck
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Formatting
nuget log4net
nuget Newtonsoft.Json
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FAKE
nuget SourceLink.Fake
nuget Suave
nuget Suave.Testing

github fsharp/FAKE modules/Octokit/Octokit.fsx