<!DOCTYPE html>


<head>
	<meta charset="utf-8">

	<!-- set viewport to device width to allow responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Date/Time Picker -->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

	<!-- jQueryUI CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">

	<!-- Timepicker CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.css" rel="stylesheet">
	


	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


	<!-- link to stylesheet (always require after Bootstrap) -->
	<link rel="stylesheet" type="text/css" href="styles.css">


	
	
	
	<title>amioff</title>

	

	
	<!-- Social Tags -->
	<title>amioff</title>
	<meta name="description" content="Easiest way for medical residents find other residents to hang out with or swap shifts with" />

	<!-- Twitter Card data -->
	<meta name="twitter:card" value="Easiest way for medical residents find other residents to hang out with or swap shifts with">

	<!-- Open Graph data -->
	<meta property="og:title" content="Easiest way for medical residents find other residents to hang out with or swap shifts with" />
	<meta property="og:type" content="blog" />
	<meta property="og:url" content="http://iamoff.herokuapp.com" />
	<meta property="og:image:secure_url" content="https://i.imgur.com/FVangmqh.jpg" />
	<meta property="og:site_name" content="Amioff"/>
	<meta property="og:description" content="The easiest way for medical residents to hang out or swap shifts with fellow residents" />
	<link rel="shortcut icon" type="image/x-icon" href="Manu Avatar png.png" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<left>
				<br>
				<h1>AMIOFF<h1>
					<h3>The easiest way for medical residents to hang out or swap shifts with fellow residents </h3>
			</left>
				<img src="https://i.imgur.com/FVangmq.jpg">
		</div>
	</div>

	<div class="container">
		<div class="row">		
			<div class="col-sm-6">
				<left>

					<h2> Pick a time </h2>

					<div class="well">
					1. Pick Date & Time

					<p>Date: <input type="text" id="datepicker"></p>
					<p>Time: <input type="text" id="timepicker"></p>
					<p>Timezone:
						<select id = "timeZone" required>
										<option value="PST">PST</option>
									  	<option value="EST">EST</option>
									  	<option value="CST">CST</option>
									  	<option value="MT">MST</option>
									 
						</select>
					</p>

						

						<form class = "form-inline" id="program-search">
						2. Amion login (case sensitive) <br>
							<div class="form-group"> 
								
								<input class="form-control" id="program-name" placeholder="e.g. UCSFEM">
							</div>

							<button type="submit" class="btn btn-success">Go</button>
						</form>
					</div>	
				</left>
			</div>






				<div class="col-sm-6">
					<left>
						
						<div id="heading"></div>
						
						<div id="heading-on"><h3>Residents on rotation</h3></div>
						<div id="results-on"></div>
						<br>
						
						
						<div id="heading-off"><h3>Residents on off-rotation</h3></div>
						<div id="results-off"></div>

					</left>
				</div>		


		</div>


	</div>








<!-- link to javascript files -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js">
</script> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.js">
</script> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64574814-5', 'auto');
  ga('send', 'pageview');

</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js">
</script> 

<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>

<!-- underscore -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- Date.js -->
<script type="text/javascript" src="date.js"></script>



<!-- app.JS -->
<script type="text/javascript" src="app.js"></script> 

<!-- underscore template -->
  <script type="text/template" id="heading-template">  
  	<div class="heading">
  	 	            
         <h2> Here's who is OFF at <%= time %> <%=timeZone %>, <%= calendarDate %> at <%= programName %> </h2>
        

          <i><p> All results below are based on public data from AMION's API. The times listed below are in your machine's local time.</p></i>       
      	
    </div>       
  </script>






  <script type="text/template" id="resultsOn-template">  
  	<div class="results">
  	 	  
        	<% if (offScheduleFlag == false) {    %> 
        		<li style="color:green;"> <%= firstName %>  <%= lastName %>, free until <%= time %> on <%= date %>  </li>
        	<% } %>

     </div>       
  </script>



<!-- underscore template -->
  <script type="text/template" id="resultsOff-template">  
  	<div class="results">
  	 	  
  	 	  <% if (offScheduleFlag == true) {    %>     
          <li style="color:red;"> <%= firstName %>  <%= lastName %> is off-rotation  </li>
        	<% } %>

        	

     </div>       
  </script>
			
        	

       
      	
   





</body>
</html>


