body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.jumbotron h1, h3 {
  
  z-index: 2;
  padding-left: 10%;
  
 

}

.jumbotron h1  {
  
  font-weight: bold;

}

.jumbotron img {
  position: absolute;
  background-size: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  opacity: 0.3;
  z-index: 0;
}



select {
    width: 80px !important;
    margin-left: 20px;
    }

#date {
  min-width: 100px;
}

.li off {
  color: red;
}

.li on {
  color: green;
}

